ChessWPF/Connected Services/ServiceChess/ServiceChess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceChess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceChess_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceChess_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_CreateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_CreateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_ConnectSession_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectSession" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_ConnectSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_SetColor_InputMessage">
    <wsdl:part name="parameters" element="tns:SetColor" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_SetColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetColorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_GetColor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetColor" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_GetColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetColorResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_GetOnlineCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineCount" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_GetOnlineCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlineCountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_EndGame_InputMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_EndGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndGameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_LeaveSession_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveSession" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_LeaveSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_SendMesg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMesg" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_SendMove_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMove" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_GetGameInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_GetGameInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_GetFen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFen" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_GetFen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFenResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_DeleteFromQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFromQueue" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_DeleteFromQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFromQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_CheckState_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckState" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_CheckState_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_MsgCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MsgCallback" />
  </wsdl:message>
  <wsdl:message name="IServiceChess_MoveCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MoveCallBack" />
  </wsdl:message>
  <wsdl:portType name="IServiceChess">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/Connect" message="tns:IServiceChess_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/ConnectResponse" message="tns:IServiceChess_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/Disconnect" message="tns:IServiceChess_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/DisconnectResponse" message="tns:IServiceChess_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/CreateSession" message="tns:IServiceChess_CreateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/CreateSessionResponse" message="tns:IServiceChess_CreateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/ConnectSession" message="tns:IServiceChess_ConnectSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/ConnectSessionResponse" message="tns:IServiceChess_ConnectSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/SetColor" message="tns:IServiceChess_SetColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/SetColorResponse" message="tns:IServiceChess_SetColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/GetColor" message="tns:IServiceChess_GetColor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/GetColorResponse" message="tns:IServiceChess_GetColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlineCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/GetOnlineCount" message="tns:IServiceChess_GetOnlineCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/GetOnlineCountResponse" message="tns:IServiceChess_GetOnlineCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/StartGame" message="tns:IServiceChess_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/StartGameResponse" message="tns:IServiceChess_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/EndGame" message="tns:IServiceChess_EndGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/EndGameResponse" message="tns:IServiceChess_EndGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/LeaveSession" message="tns:IServiceChess_LeaveSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/LeaveSessionResponse" message="tns:IServiceChess_LeaveSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMesg">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/SendMesg" message="tns:IServiceChess_SendMesg_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/SendMove" message="tns:IServiceChess_SendMove_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/GetGameInfo" message="tns:IServiceChess_GetGameInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/GetGameInfoResponse" message="tns:IServiceChess_GetGameInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/GetFen" message="tns:IServiceChess_GetFen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/GetFenResponse" message="tns:IServiceChess_GetFen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFromQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/DeleteFromQueue" message="tns:IServiceChess_DeleteFromQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/DeleteFromQueueResponse" message="tns:IServiceChess_DeleteFromQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceChess/CheckState" message="tns:IServiceChess_CheckState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/CheckStateResponse" message="tns:IServiceChess_CheckState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/MsgCallback" message="tns:IServiceChess_MsgCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceChess/MoveCallBack" message="tns:IServiceChess_MoveCallBack_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceChess" type="tns:IServiceChess">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceChess_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSession">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/CreateSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectSession">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/ConnectSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetColor">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/SetColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColor">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/GetColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnlineCount">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/GetOnlineCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/EndGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveSession">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/LeaveSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMesg">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/SendMesg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMove">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/SendMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetGameInfo">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/GetGameInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFen">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/GetFen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromQueue">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/DeleteFromQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckState">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/CheckState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MsgCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/MsgCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveCallBack">
      <soap12:operation soapAction="http://tempuri.org/IServiceChess/MoveCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceChess">
    <wsdl:port name="NetTcpBinding_IServiceChess" binding="tns:NetTcpBinding_IServiceChess">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-KT-ILICH\Kt_iL</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>